Creating a Postgres database schema for the CDP data

In [6]:
from sqlalchemy import *
import numpy as np

engine = create_engine('postgres://jack:jack@localhost/cdp', echo = False)
conn = engine.connect()

metadata = MetaData()

countries = Table('countries', metadata,
    Column('country_id', Integer, primary_key=True),
    Column('country', String),
    Column('iso', String(2)))

industries = Table('industries', metadata,
    Column('industry_id', Integer, primary_key=True),
    Column('industry', String))

sectors = Table('sectors', metadata,
    Column('sector_id', Integer, primary_key=True),
    Column('industry_id', Integer, ForeignKey('industries.industry_id')),
    Column('sector', String),
    Column('industry', String)) # to be deleted after getting industry_id

activities = Table('activities', metadata,
    Column('activity_id', Integer, primary_key=True),
    Column('sector_id', Integer, ForeignKey('sectors.sector_id')),
    Column('activity', String),
    Column('sector', String)) # to be deleted after getting sector_id

companies = Table('companies', metadata,
    Column('company_id', Integer, primary_key=True),
    Column('country_id', Integer, ForeignKey('countries.country_id')),
    Column('activity_id', Integer, ForeignKey('activities.activity_id')),
    Column('company', String),
    Column('total_emissions', Float),
    Column('trusted', Boolean),
    Column('intensity', Float),
    Column('country', String), # to be deleted after getting country_id
    Column('activity', String)) # to be deleted after getting activity_id

scopes = Table('scopes', metadata,
    Column('scope_id', Integer, primary_key=True),
    Column('scope', String))

emissions = Table('emissions', metadata,
    Column('company_id', Integer, ForeignKey('companies.company_id'), primary_key=True),
    Column('scope_id', Integer, ForeignKey('scopes.scope_id'), primary_key=True),
    Column('co2e', Float))
                  
metadata.create_all(engine)

In [2]:
import pandas as pd
C0 = pd.read_excel('Data/2018/Investor Public Climate Change 2018 data_1804_extracted 17Apr19.xlsx', 
        sheet_name = 'C0 - Introduction',
        usecols = ['Account number', 'Organization', 'Country', 'Primary activity', 
                   'Primary sector', 'Primary industry'])
C0

,Account number,Organization,Country,Primary activity,Primary sector,Primary industry
0,44,3i Group,United Kingdom of Great Britain and Northern I...,Asset managers,Financial services,Services
1,285,3M Company,United States of America,Specialty chemicals,Chemicals,Manufacturing
2,87,A2A,Italy,CCGT generation,Thermal power generation,Power generation
3,97,Aareal Bank AG,Germany,Banks,Financial services,Services
4,282,ABB,Switzerland,Electrical equipment,Electrical & electronic equipment,Manufacturing
...,...,...,...,...,...,...
1799,31334,Zignago Vetro SpA,Italy,Glass products,Other materials,Materials
1800,21063,"Zimmer Biomet Holdings, Inc.",United States of America,Medical equipment,Medical equipment & supplies,"Biotech, health care & pharma"
1801,41437,ZORLU DOĞAL ELEKTRİK ÜRETİMİ A.Ş.,Turkey,CCGT generation,Thermal power generation,Power generation
1802,31761,ZORLU ENERJİ ELEKTRİK ÜRETİM A.Ş.,Turkey,Hydro generation,Renewable power generation,Power generation
1803,21064,Zurich Insurance Group,Switzerland,Insurance,Financial services,Services

Populating countries

In [7]:
countries_list = sorted(C0['Country'].unique())
print(countries_list)
for country in countries_list:
    conn.execute(countries.insert(), country = country)

['Argentina', 'Australia', 'Austria', 'Belgium', 'Bermuda', 'Brazil', 'Canada', 'Chile', 'China', 'China, Hong Kong Special Administrative Region', 'Colombia', 'Cyprus', 'Czechia', 'Denmark', 'Egypt', 'Finland', 'France', 'Germany', 'Greece', 'Guernsey', 'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kazakhstan', 'Luxembourg', 'Malaysia', 'Malta', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Russian Federation', 'Singapore', 'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Taiwan, Greater China', 'Thailand', 'Turkey', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United States of America']

Populating industries

In [8]:
industries_list = [x for x in C0['Primary industry'].unique() if str(x) != 'nan']
print(industries_list)
for industry in sorted(industries_list):
    conn.execute(industries.insert(), industry = industry)

['Services', 'Manufacturing', 'Power generation', 'Biotech, health care & pharma', 'Retail', 'Infrastructure', 'Mineral extraction', 'Materials', 'Hospitality', 'Apparel', 'Food, beverage & agriculture', 'Transportation services', 'Fossil Fuels']

Populating sectors and updating the industry foreign key

In [9]:
sectors_industries = C0[['Primary sector', 'Primary industry']].drop_duplicates().dropna()
for _, row in sectors_industries.sort_values(by=['Primary sector']).iterrows():
    conn.execute(insert(sectors).values(sector = row['Primary sector'], industry = row['Primary industry']))
    
s = select([industries]).where(sectors.c.industry == industries.c.industry).order_by(sectors.c.sector)
for i, row in enumerate(conn.execute(s)):
    conn.execute(update(sectors).values(industry_id = row[0]).where(sectors.c.sector_id == i + 1))

Populating activities and updating the sector foreign key

In [10]:
activities_sectors = C0[['Primary activity', 'Primary sector']].drop_duplicates().dropna()
for _, row in activities_sectors.sort_values(by=['Primary activity']).iterrows():
    conn.execute(insert(activities).values(activity = row['Primary activity'], sector = row['Primary sector']))
    
s = select([sectors]).where(sectors.c.sector == activities.c.sector).order_by(activities.c.activity)
for i, row in enumerate(conn.execute(s)):
    conn.execute(update(activities).values(sector_id = row[0]).where(activities.c.activity_id == i + 1))

Populating companies and updating foreign keys

In [11]:
comp_act_count = C0[['Account number', 'Organization', 'Country', 'Primary activity']]
for _, row in comp_act_count.sort_values(by = ['Organization']).iterrows():
    conn.execute(insert(companies).values(company_id = row['Account number'], company = row['Organization'],
        country = row['Country'], activity = row['Primary activity']))
    
s = select([countries, companies]).where(countries.c.country == companies.c.country)
for row in conn.execute(s):
    conn.execute(update(companies).values(country_id = row[0]).where(companies.c.company_id == row[3]))

s = select([activities, companies]).where(activities.c.activity == companies.c.activity)
for row in conn.execute(s):
    conn.execute(update(companies).values(activity_id = row[0]).where(companies.c.company_id == row[4]))

Getting ISO codes for the countries table

In [12]:
ISO = pd.read_csv('iso.csv', delimiter=',')
conn.execute(update(countries).values(country = 'Hong Kong').where(countries.c.country_id == 10))
conn.execute(update(countries).values(country = 'Taiwan').where(countries.c.country_id == 48))
conn.execute(update(companies).values(country = 'Hong Kong').where(companies.c.country_id == 10))
conn.execute(update(companies).values(country = 'Taiwan').where(companies.c.country_id == 48))
for _, row in ISO.iterrows():
    conn.execute(update(countries).values(iso = row[1]).where(countries.c.country == row[0]))

In [13]:
import pandas as pd
C65 = pd.read_excel('Data/2018/Investor Public Climate Change 2018 data_1804_extracted 17Apr19.xlsx', 
        sheet_name = 'C6.5',
        usecols = [0, 10, 11, 13])

Populating scopes

In [14]:
C65.rename(columns = {
    'C6.5_C2_Account for your organization’s Scope 3 emissions, disclosing and explaining any exclusions. - Metric tonnes CO2e':'co2e',
     }, inplace = True)

scopes_list = list(C65['RowName'].unique()) + ['Scope1', 'Scope2 location-based', 'Scope2 market-based']
for scope in scopes_list:
    conn.execute(insert(scopes).values(scope = scope))

Populating emissions

In [15]:
for _, row in C65.iterrows():
    if np.isnan(row[3]):
        conn.execute(insert(emissions).values(company_id = row[0], scope_id = row[1], co2e = 0))
    else:
        conn.execute(insert(emissions).values(company_id = row[0], scope_id = row[1], co2e = row[3]))

In [16]:
import pandas as pd
C61 = pd.read_excel('Data/2018/Investor Public Climate Change 2018 data_1804_extracted 17Apr19.xlsx', 
        sheet_name = 'C6.1',
        usecols = [0, 10, 12])

In [17]:
for _, row in C61.iterrows():
    if row[1] == 1:
        if row[2] == 'Hidden Answer' or np.isnan(row[2]):
            conn.execute(insert(emissions).values(company_id = row[0], scope_id = 18, co2e = 0))
        else:
            conn.execute(insert(emissions).values(company_id = row[0], scope_id = 18, co2e = row[2]))

In [18]:
import pandas as pd
C63 = pd.read_excel('Data/2018/Investor Public Climate Change 2018 data_1804_extracted 17Apr19.xlsx', 
        sheet_name = 'C6.3',
        usecols = [0, 10, 12, 13])

In [19]:
for _, row in C63.iterrows():
    if row[1] == 1:
        if row[2] == 'Hidden Answer' or np.isnan(row[2]):
            conn.execute(insert(emissions).values(company_id = row[0], scope_id = 19, co2e = 0))
        else:
            conn.execute(insert(emissions).values(company_id = row[0], scope_id = 19, co2e = row[2]))
            
for _, row in C63.iterrows():
    if row[1] == 1:
        if row[3] == 'Hidden Answer' or np.isnan(row[3]):
            conn.execute(insert(emissions).values(company_id = row[0], scope_id = 20, co2e = 0))
        else:
            conn.execute(insert(emissions).values(company_id = row[0], scope_id = 20, co2e = row[3]))

Adding all the summed emissions to the companies table. Modulo 20 comes from 20 scope_ids

In [64]:
s = select([emissions]).order_by(emissions.c.company_id)
su = 0
for row in conn.execute(s):
    su += row[2] 
    if not row[1] % 20:
        conn.execute(update(companies).values(trusted = True, total_emissions = su).where(companies.c.company_id == row[0]))
        if su ==0:
            conn.execute(update(companies).values(trusted = False).where(companies.c.company_id == row[0]))
        su = 0

Importing intensities (eCO2t / revenue) from C6.10

In [39]:
import pandas as pd
C610 = pd.read_excel('Data/2018/Investor Public Climate Change 2018 data_1804_extracted 17Apr19.xlsx', 
        sheet_name = 'C6.10',
        usecols = [0, 12, 13, 14, 15])
C610

,Account number,C6.10_C1_Describe your gross global combined Scope 1 and 2 emissions for the reporting year in metric tons CO2e per unit currency total revenue and provide any additional intensity metrics that are appropriate to your business operations. - Intensity figure,C6.10_C2_Describe your gross global combined Scope 1 and 2 emissions for the reporting year in metric tons CO2e per unit currency total revenue and provide any additional intensity metrics that are appropriate to your business operations. - Metric numerator (Gross global combined Scope 1 and 2 emissions),C6.10_C3_Describe your gross global combined Scope 1 and 2 emissions for the reporting year in metric tons CO2e per unit currency total revenue and provide any additional intensity metrics that are appropriate to your business operations. - Metric denominator,C6.10_C4_Describe your gross global combined Scope 1 and 2 emissions for the reporting year in metric tons CO2e per unit currency total revenue and provide any additional intensity metrics that are appropriate to your business operations. - Metric denominator: Unit total
0,44,0.000000,750.76,unit total revenue,1.425000e+09
1,44,3.100000,750.76,full time equivalent (FTE) employee,2.410000e+02
2,285,184.000000,5840000.00,unit total revenue,3.165700e+04
3,87,0.001000,8179294.00,unit total revenue,5.796000e+09
4,87,0.415000,8179294.00,megawatt hour generated (MWh),1.969300e+07
...,...,...,...,...,...
3506,21063,22.510000,176136.00,unit total revenue,7.824100e+03
3507,41437,0.001900,736444.00,unit total revenue,3.868810e+08
3508,31761,0.000880,220967.11,unit total revenue,2.508800e+08
3509,21064,0.000001,60415.14,unit total revenue,6.284400e+10
3510,21064,2.060000,89573.95,full time equivalent (FTE) employee,4.340700e+04

In [55]:
for _, row in C610.iterrows():
    if 'revenue' in str(row[3]):
        conn.execute(update(companies).values(intensity = row[1]).where(companies.c.company_id==row[0]))

Treating outliers as not trusted

In [65]:
conn.execute(update(companies).values(trusted = False).where(companies.c.company_id==49247))

In [ ]:
"""conn.execute(text("ALTER TABLE companies DROP country"))
conn.execute(text("ALTER TABLE companies DROP activity"))
conn.execute(text("ALTER TABLE activities DROP sector"))
conn.execute(text("ALTER TABLE sectors DROP industry"))"""